<div>
  <h3>Dashboard</h3>
  <div class="form-group row">
    <label for="admin">Vælg hvad du vil redigere:</label>
    <div class="col-sm">
      <select class="form-control-sm" name="Admin" id="admin" (change)="onSelectChange($event)">
        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
      </select>
    </div>
  </div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th *ngFor="let columnName of columnNames">{{ columnName }}</th>
        <th *ngIf="modelData.length > 0">Handlinger</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of modelData">
        <td *ngFor="let columnName of columnNames">{{ row[columnName] }}</td>
        <td>
          <button class="btn btn-success btn-sm action-btn me-2">TILFØJ</button>
          <button class="btn btn-warning btn-sm action-btn me-2">REDIGER</button>
          <button class="btn btn-danger btn-sm action-btn">SLET</button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>